

/*Área Superior / Banner Area*/
#top_area {
    background-color: #2B2B2B;
}
/*Barra de navegação*/
#nav_bar {
    background-color: #49473B;
}

/*Botão de Pesquisa*/
#btnsearch {
    background-color: #585735;
    border-color: #b19564;
}
.hidden {
    display:none;
}