/*Mudando tamanho container padrão */
.container {
    max-width: 100rem;
}
.vcenter {
    display: flex;
    align-items: center;
}
#nav_bar {
    background-color: #969bfb;
}
#navbar a  {
    color:white;
}
